<!--
  Generated template for the GamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Games</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-content *ngIf="game.lenght">
  <h1>tesre</h1>
</ion-content>
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-grid>
      <ion-row *ngFor="let game of gameList">
        <ion-col col-6><img [src]="game.front_box_art"/></ion-col>
        <ion-col col-6>
          <span class="place-info-box-text">{{game.title}}</span>
          <button ion-button icon-start color="secondary" round>
              <ion-icon name="game-controller-a"></ion-icon>
              Add
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>


<!--



<ion-content padding>
  <ion-card *ngFor="let game of gameList">
    <ion-card-content class="place-info-box">
      <span class="place-info-box-icon"><img [src]="game.front_box_art"/></span>
    </ion-card-content>
  </ion-card>
</ion-content>

-->